.popOverlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.poprestbody {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popObject {
  background-color: white;
  position: relative;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popObjectclose {
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 15px;
}
